<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{base::layout(~{::section})}">
<body>

<section>
<div class="container-fluid m-4 mx-auto w-auto">
    <p class="h2 m-1"><i class="fa-solid fa-list"></i> Liste loyer</p>
    <div class="container-fluid p-2">
        <!-- Button trigger modal -->
        <div class="row g-3">
            <div class="col-auto">
                <a class="btn btn-primary" th:href="@{/loyer/save}">Création nouveau loyer <i class="fa-solid fa-credit-card"></i></a>
            </div>
            <div class="col-auto">
                <a class="btn btn-warning" th:href="@{/loyer/pdf}"><i class="fa-solid fa-file-pdf"></i></a>
            </div>
            <form class="row g-3" th:object="${loyer}" th:action="@{/loyer/search}">
            <div class="col-auto">
            <input class="form-control" type="date" th:field="*{date}"
                   aria-label="default input example" required>
            </div>
            <div class="col-auto">
                <input class="form-control" type="date" th:field="*{date}" aria-label="default input example" required>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-secondary" value="Recherche">
            </div>
            </form>
        </div>
    </div>
    <div th:if="${message}" th:class="${class}">
        <span th:text="${message}"></span>
    </div>
    <div th:if="${Error}" th:class="${class}">
        <span th:text="${Error}"></span>
    </div>
    <div th:if="${delete}" th:class="${class}">
        <span th:text="${delete}"></span>
    </div>
    <div th:if="${modification}" th:class="${class}">
        <span th:text="${modification}"></span>
    </div>
    <div th:if="${Erreur1}" th:class="${class}">
        <span th:text="${Erreur1}"></span>
    </div>
    <div class="table-responsive-sm ">
        <table class="table table-dark table-striped location" id="ma-table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Locataire</th>
                <th scope="col">Voiture</th>
                <th scope="col">Nombre du jour</th>
                <th scope="col">Date du location</th>
                <th scope="col">Montant</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                    <tr th:each="loyer : ${loyers}">
                        <td th:text="${loyer.id}"></td>
                        <td th:text="${loyer.locataire}"></td>
                        <td th:text="${loyer.voiture}"></td>
                        <td th:text="${loyer.nbjour}"></td>
                        <td th:text="${loyer.date}"></td>
                        <td th:text="${loyer.voiture.Loyer * loyer.nbjour}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="${loyer.id}"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-danger" th:href="@{'/loyer/edit/'+${loyer.id}}"> <i class="fa-regular fa-pen-to-square"></i> </a>
                        <a class="btn btn-warning" th:href="@{'/loyer/delete/'+ ${loyer.id}}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    </tr>
            </tbody>
        </table>
        <div class="container-fluid row col sm-2">
            <h5>Cette tableau contient : <span class="badge bg-secondary" th:text="${Item}"></span> ligne</h5>
        </div>
        <div th:if="${page > 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:if="${current < page}"   th:href="@{'/loyer/list/'+${page}}" aria-label="Previous">
                        <span th:if="${current < 1}" th:unless="${current < page}"></span>
                        <span aria-hidden="true" >&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1,page)}"  class="page-item">
                    <a class="page-link" th:if="${current != i}" th:href="@{'/loyer/list/'+ ${i}}">[[${i}]]</a>
                    <span class="page-link" th:unless="${current != i}">[[${i}]]</span>
                </li>
                <li class="page-item" >
                    <a class="page-link" th:if="${current < page}"  th:href="@{'/loyer/list/'+ ${current+1}}" aria-label="Next">
                        <span th:unless="${current < page}"></span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
            <div class="container-fluid">
                <table class="table table-dark table-striped">
                <tbody>
                <tr>
                    <th colspan="2">Total</th>
                    <td class="table-active total" th:text="${sum}"></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>