<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<body>
<section>
<div class="container-fluide m-4">
    <p class="h2 m-3">Bootstrap heading</p>
    <p class="h5 m-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis dignissim enim, molestie commodo ex. Aliquam congue sapien sed nisi vestibulum ultrices quis at neque. Nunc id est quis nibh hendrerit pulvinar. Phasellus vel lorem at dolor cursus accumsan vel vitae mauris. Donec at dolor sit amet mauris hendrerit blandit. Aliquam nulla metus, sagittis id augue non, elementum cursus massa. Aenean commodo volutpat risus, consectetur ultrices sapien posuere quis. Phasellus feugiat libero ac ipsum luctus, sed fermentum velit sodales. Phasellus rutrum porta est, eget mattis ipsum lobortis at.</p>
</div>
</section>
</body>
</html>